* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: darkorange;
}

nav

section {
    background-color: darkcyan;
}

section p {
    background-color: fuchsia;
}

.spacedOut {
    display: flex;
    justify-content: space-between;
}

.sectionRow {
    display: flex;
    justify-content: flex-end;
    margin: 50px 50px 50px 50px;
}

.sectionContent {
    display: flex;
    width: 75%;
    
}

@media screen and (max-width: 992px) {
    .spacedOut {
        align-items: center;
        flex-direction: column;
    }
}