* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.spacedOut {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    header {
        justify-content: center;
    }
}