* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: darkorange;
}

section {
    background-color: darkcyan;
}

.spacedOut {
    display: flex;
    justify-content: space-between;
}

.sectionRow {
    display: flex;
    justify-content: flex-end;
    margin: 50px 50px 50px 50px;
}

.sectionContent {
    display: flex;
    width: 75%;
    
}

@media screen and (max-width: 992px) {
    header {
        justify-content: center;
    }
}